<h1>Home#index</h1>
<% if user_signed_in? %>
    <p>Current user: <%= current_user.name %></p>
    <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
<% else %>
    <p>User not logged in</p>
    <%= link_to "Log In", new_user_session_path %>
<% end %>
<p>Register a new user here <%= link_to "Sign Up", new_user_registration_path %></p>
